/* Color pallete: https://www.color-hex.com/color-palette/44426 */

/* Not being used at the moment */

button {
  text-transform: capitalize;
  margin: 3px;
}
img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

ul {
  margin: 0;
  padding: 0;
}

p {
    text-align: center;
    background-color: #04f5ff;
    border-style: solid;
    border-color: #e90052;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    margin: 1em auto;
    width: 320px;
}

body {
    background-color: #ffffff;
}

.uppercase {
  text-transform: capitalize;
}

.pokemonButton {
    background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border-color: #e90052;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 1em auto;
  width: 320px;
  cursor:cell; 
  text-transform: capitalize;
}

.pokemonButton:hover {
    background: #3cf9fc;
  background-image: -webkit-linear-gradient(top, #3cf9fc, #3498db);
  background-image: -moz-linear-gradient(top, #3cf9fc, #3498db);
  background-image: -ms-linear-gradient(top, #3cf9fc, #3498db);
  background-image: -o-linear-gradient(top, #3cf9fc, #3498db);
  background-image: linear-gradient(to bottom, #3cf9fc, #3498db);
  text-decoration: none;
  text-align: center;
  padding: 10px;
  margin: 1em auto;
  width: 320px;
}

.pokemon-list { 
  list-style-type: none;
  text-align: center;
}


html, 
body {
  font-family: Arial, sans-serif;
}

