/* Color pallete: https://www.color-hex.com/color-palette/44426 */

p {
    text-align: center;
    background-color: #04f5ff;
    border-style: solid;
    border-color: #e90052;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 10px;
    margin: 1em auto;
    width: 320px;
}

body {
    background-color: #ffffff;
}

